version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build-and-test:
    executor:
      name: node/default
      tag: 'lts'
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-repo-{{ checksum "yarn.lock" }}

      - run:
          name: Install dependencies
          command: yarn install

      - save_cache:
          key: v1-repo-{{ checksum "yarn.lock" }}
          paths:
            - "node_modules"

      - run:
          name: Type check
          command: yarn type-check

      - run:
          name: Run tests
          command: yarn test

      - run:
          name: Build
          command: yarn build
      
      - store_test_results:
          path: test-results

      - store_artifacts:
          path: build
          destination: build
          
      - store_artifacts:
          path: test-results
          destination: test-results

workflows:
  main:
    jobs:
      - build-and-test
